body {
    background: #12110e;
    color: #ececec;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    text-align: center;
}

h1 {
    color: #dfa860;
    letter-spacing: 2px;
    text-shadow: 0 2px 8px #ae6f25;
    margin-top: 18px;
}

#game-container {
    margin: 22px auto;
    width: 400px;
    background: #201d17;
    border: 4px solid #423505;
    border-radius: 14px;
    padding: 12px 0;
    box-shadow: 0 2px 18px #222a;
}

#gameCanvas {
    background: linear-gradient(to bottom, #51463b 16%, #231f14 80%);
    border-radius: 10px;
    box-shadow: 0 0 40px #75562f60 inset;
    border: 2px solid #372712;
}

#instructions {
    margin-top: 12px;
}
#score {
    font-size: 1.2em;
    color: #92ff53;
}
#gameOverMessage {
    color: #ff7373;
    font-size: 1.12em;
    font-weight: bold;
}

        
